<header>
  <app-toolbar></app-toolbar>
</header>

<div class="container-fluid">
  <div class="row main-content bg-success text-center">
    <div class="col-md-4 text-center company__info">
      <span class="company__logo"
        ><h2><span class="fa fa-android"></span></h2
      ></span>
      <h4 class="company_title">Fix Finder</h4>
    </div>
    <div class="col-md-8 col-xs-12 col-sm-12 login_form">
      <div class="container-fluid">
        <div class="row">
          <h2>Iniciar Sesión</h2>
        </div>
        <div class="row">
          <form control="" class="form-group">
            <div class="row">
              <input
                type="text"
                name="username"
                id="username"
                class="form__input"
                placeholder="Email"
              />
            </div>
            <div class="row">
              <input
                type="password"
                name="password"
                id="password"
                class="form__input"
                placeholder="Contraseña"
              />
            </div>

            <div class="row-12">
              <input type="submit" value="Iniciar Sesión" class="btn" />
            </div>
          </form>
        </div>
        <div class="row">
          <p>No tienes una cuenta? <a href="registro">Registrate aca</a></p>
        </div>
        <div class="row-12">
          Olvidaste tu contraseña?<a href="#">Restablecer contraseña</a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <app-footer></app-footer>
</footer>
