<div class="container mt-5">
    <h1 class="text-center mb-4">Novedades!</h1>
  
    <div class="accordion" id="reservasAccordion">
  
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingPending">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsePending"
            aria-expanded="true"
            aria-controls="collapsePending"
          >
            Reservas pendientes
          </button>
        </h2>
        <div
          id="collapsePending"
          class="accordion-collapse collapse show"
          aria-labelledby="headingPending"
          data-bs-parent="#reservasAccordion"
        >
          <div class="accordion-body">
            <p>Probando jeeeeeeeefeeeee</p>
          </div>
        </div>
      </div>
  
   
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingCompleted">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseCompleted"
            aria-expanded="false"
            aria-controls="collapseCompleted"
          >
            Reservas finalizadas
          </button>
        </h2>
        <div
          id="collapseCompleted"
          class="accordion-collapse collapse"
          aria-labelledby="headingCompleted"
          data-bs-parent="#reservasAccordion"
        >
          <div class="accordion-body">
            <p>prueba</p>
          </div>
        </div>
      </div>
  
  
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingRejected">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseRejected"
            aria-expanded="false"
            aria-controls="collapseRejected"
          >
            Reservas rechazadas
          </button>
        </h2>
        <div
          id="collapseRejected"
          class="accordion-collapse collapse"
          aria-labelledby="headingRejected"
          data-bs-parent="#reservasAccordion"
        >
          <div class="accordion-body">
            <p>prueba</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  